@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
}

body {
    overscroll-behavior-y: contain;
}

html, body, #root {
    height: 100%;
}

/* hide for lighthouse optimalisation */
.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
    display: none;
}